body {
  font-family: 'Merriweather Sans', sans-serif;
  color: #0d0d0d;
}

/* a {
  color: #ccc;
} */

.card-body {
  padding: 0px;
}

.post-content {
  text-align: center;
  /* padding: 10px 20px; */
}

/*============
HEADER LAYOUT
=================================*/

header.header {
	padding: 2em;
}

.header-container {
	position: relative;
	overflow: hidden;
}

h1.brand_name {
  text-transform: uppercase;
  text-align: center;
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 4.5rem;
  font-weight: 800;
}

/* LOGO */

.logo-container {
	text-align: center;
}

img#logo {
  width: 52px;
}

/* TAGLINE */

.tagline-container {
	text-align: center;
}

h3.header-tagline {
  font-size: 11px;
	text-transform: uppercase;
	color: #737373;
  font-weight: 800;
  font-family: 'Merriweather Sans', sans-serif;
}

/* SOCIAL MEDIA */

.social-media {
	float: left;
	position: absolute;
	top: 0;
}

a.social-media-link {
	display: block;
	cursor: pointer;
	font-size: 25px;
  /* color: #000; */
}

i.fa-instagram {
  color: #609;
}

i.fa-spotify {
  color: #1ED760;
} 

i.fa-soundcloud {
  color: #f50;
}

/* HEADER ICONS */

.header-icons {
	/* float: right; */
	position: absolute;
	top: 0px;
	right: 0px;
}

a.header-icon-link {
	display: block;
	cursor: pointer;
	font-size: 25px;
	color: #0d0d0d;
}

/* END HEADER LAYOUT */


/*============
CAROUSEL LAYOUT
=================================*/

a.carousel_button {
  background: #0d0d0d;
}

h1.carousel_title {
  font-family: 'Merriweather Sans', sans-serif;
  text-transform: uppercase;

}

a.carousel_cat_link {
  font-family: 'Merriweather Sans', sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: #DE5133;
  font-size: 11px;
}

/* END CAROUSEL */

/*============
INDEX LAYOUT
=================================*/

a.post_link {
  text-decoration: none;
  color: #ccc;
}

a.post_author {
  color: #0d0d0d;
  text-transform: uppercase;
  font-size: 11px;
  text-decoration: none;
}

p.post_date {
  text-transform: uppercase;
  font-size: 11px;
}

.post_title {
  color: #0d0d0d;
  font-size: 1.75rem;
  font-family: 'Merriweather Sans', sans-serif;
  text-transform: uppercase;
}

.post_title:hover {
  text-decoration: none;
}

a.post_cat_title {
  color: #262626;
  display: inline-block;
  text-transform: uppercase;
}

img.post-image {
  max-width: 100%;
  height: auto;
}

.blog-post:hover::after {
  content: '';
  display: block;
  height: 2px;
  width: 100%;
  background: #DE5133;
  transition: .3s;
}

.card {
  border: none;
}

/* Clearfix (clear floats) */
.blog_main {
  display: flex;
  flex-wrap: wrap;
}

/* END INDEX  */

/* post page */

p.post_content {
  font-weight: 300;
}

/*============
NAVIGATION LAYOUT
=================================*/

.site-navigation {
  padding: 10px;
}

.site-navigation a {
  color: #595959;
  font-family: 'Merriweather Sans', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  /* transition: 0.3s; */
  display: inline-block;
  text-decoration: none;
}

.site-navigation a::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #DE5133;
  transition: width .3s;

}

.site-navigation a:hover::after {
  width: 100%;
  transition: width .3s;
  color: #DE5133;
}

.site-navigation a:hover {
  color: #DE5133;
}

/* END NAVIGATION LAYOUT */


/*============
SIDEBAR LAYOUT
=================================*/

h4.side_widget_title {
  font-family: 'Merriweather Sans', sans-serif;
  text-transform: uppercase;
}

/* END SIDEBAR LAYOUT */