body {
	font-family: 'Merriweather Sans', sans-serif;
	color: #0d0d0d;
}

iframe {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.post-content {
	text-align: center;
}

/* post page */
.page_post_title {
	color: #0d0d0d;
	font-size: 1.5rem;
	text-transform: capitalize;
}

/*============
HEADER LAYOUT
===============*/

header.header {
	padding: 2em;
}

.header-container {
	position: relative;
	overflow: hidden;
}

h1.brand_name {
	text-transform: uppercase;
	text-align: center;
	font-size: 4.5rem;
	font-weight: 800;
}

/* Logo */
.logo-container {
	text-align: center;
}

img#logo {
	width: 52px;
}

/* Tagline */

.tagline-container {
	text-align: center;
}

h3.header-tagline {
	font-size: 11px;
	text-transform: uppercase;
	color: #737373;
	font-weight: 800;
}

/* header social media */

.social_media {
	float: left;
	position: absolute;
	top: 0;
}

a.social-media-link {
	display: block;
	cursor: pointer;
	font-size: 25px;
}

i.fa-spotify {
	color: #0d0d0d;
}

i.fa-spotify:hover {
	color: #de5133;
}

i.fa-soundcloud:hover {
	color: #de5133;
}

i.fa-soundcloud {
	color: #0d0d0d;
}

i.fab.fa-twitter {
	color: #0d0d0d;
}

i.fab.fa-twitter:hover {
	color: #de5133;
}

/* header icons */

.header-icons {
	position: absolute;
	top: 0px;
	right: 0px;
}

a.header-icon-link {
	display: block;
	cursor: pointer;
	font-size: 25px;
	color: #0d0d0d;
}

/* END HEADER LAYOUT */

/*============
CAROUSEL LAYOUT
===============*/

a.carousel_button {
	background: #0d0d0d;
}

a.carousel_title {
	text-transform: capitalize;
	font-size: 1.5rem;
	color: #fff;
}

a.carousel_title:hover {
	text-decoration: none;
}

a.carousel_cat_link {
	text-transform: uppercase;
	text-decoration: none;
	color: #de5133;
	font-size: 1rem;
	display: block;
}

.container.slide_content {
	position: absolute;
	bottom: 0;
	background: rgb(0, 0, 0);
	background: rgba(0, 0, 0, 0.5);
	color: #f1f1f1;
	width: 100%;
	padding: 100px;
}

/* END CAROUSEL */

/*============
NAVIGATION LAYOUT
==================*/

.site-navigation {
	align-items: center;
	justify-content: space-between;
	height: 50px;
}

.site-navigation a.nav_link,
.drop_btn {
	color: #595959;
	font-family: 'Merriweather Sans', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	display: inline-block;
	text-decoration: none;
	cursor: pointer;
}

.drop_btn {
	background-color: #fff;
	border: none;
}

button:focus {
	outline: none;
}

.site-navigation a.nav_link::after {
	content: '';
	display: block;
	width: 0;
	height: 1px;
	background: #de5133;
	transition: width 0.3s;
}

.site-navigation a.nav_link:hover::after {
	width: 100%;
	transition: width 0.3s;
	color: #de5133;
}

.site-navigation a.nav_link:hover {
	color: #de5133;
}

.drop_down {
	position: relative;
	display: inline-block;
}

.dropdown_content {
	display: none;
	position: absolute;
	background-color: #fff;
	min-width: 160px;
	/* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
	z-index: 1;
}

.dropdown_content a.dropdown_nav_link {
	color: #595959;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	font-weight: 300;
	font-size: 0.875rem;
	transition: 0.5s;
	text-transform: uppercase;
	font-family: 'Merriweather Sans', sans-serif;
}
/* The content the links inside */
.dropdown_content a.dropdown_nav_link:hover {
	background-color: #ddd;
	/* transition: 1.0s; */
}

.drop_down:hover .dropdown_content {
	display: block;
}

.drop_down:hover .drop_btn {
	color: #de5133;
}

/* END NAVIGATION LAYOUT */

/*============
INDEX LAYOUT
=================================*/

main.container {
	padding-bottom: 30px;
	margin-bottom: 55px;
}

a.post_link {
	text-decoration: none;
	color: #ccc;
	display: block;
}

a.post_author {
	color: #0d0d0d;
	text-transform: uppercase;
	font-size: 11px;
	text-decoration: none;
}

p.post_date {
	text-transform: uppercase;
	font-size: 11px;
}

.post_title {
	color: #0d0d0d;
	font-size: 15px;
	text-transform: capitalize;
	font-weight: 300;
	line-height: 1.5;
}

.post_title:hover {
	text-decoration: none;
}

a.post_cat_title {
	color: #262626;
	display: inline-block;
	text-transform: uppercase;
}

.post_img {
	height: 300px; /* images need a fixed height*/
}

.card:hover::after {
	content: '';
	display: block;
	height: 2px;
	width: 100%;
	background: #de5133;
	transition: 0.3s;
}
/* padding-top
padding-right
padding-bottom
padding-left */
.card {
	display: inline-flex;
	width: 45%;

	background: white;
	box-shadow: 0 8px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
	border: none;
}

.card_slide {
	width: 100%;
}

/* END INDEX  */

/* post page */

p.post_content {
	/* font-weight: 300; */
	font-family: 'PT Sans', sans-serif;
}

/* FRONT CONTACT FORM */
.contact_container {
	color: #595959;
	max-width: 1170px;
	margin-left: auto;
	margin-right: auto;
	padding: 1em;
	font-family: 'Merriweather Sans', sans-serif;
}

ul {
	list-style: none;
	padding: 0;
}

.wrapper {
	box-shadow: 0 0 20px 0 rgba(72, 94, 116, 0.7);
}

.wrapper > * {
	padding: 1em;
}

.company-info {
	background: #fff;
	/* opacity: 0.5; */
}

.company-info h3,
.company-info ul {
	text-align: center;
	margin: 0 0 1rem 0;
}

.contact {
	background: #fff;
}
/* FORM STYLES */
.contact form {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 20px;
}

.contact form label {
	display: block;
}

.contact form p {
	margin: 0;
}

.contact form .full {
	grid-column: 1 / 3;
}

.contact form button,
.contact form input,
.contact form textarea {
	width: 100%;
	padding: 1em;
	border: 1px solid #de5133;
}

.contact form button {
	background: #de5133;
	border: 0;
	text-transform: uppercase;
	color: #595959;
}

.contact form button:hover,
.contact form button:focus {
	color: #fff;
	outline: 0;
	/* When the button is hovered change background colour and take 2s to ease-out */
	background: #737373;
	transition: background-color 2s ease-out;
}

/*============
END FRONT CONTACT FORM
=================================*/

/*============
SIDEBAR LAYOUT
=================================*/

h4.side_widget_title {
	font-family: 'Merriweather Sans', sans-serif;
	text-transform: uppercase;
}

/* END SIDEBAR LAYOUT */

/*============
PAGINATION LAYOUT
==================*/

.custom_pagination {
	display: inline-block;
}

.custom_pagination a {
	color: black;
	float: left;
	padding: 8px 16px;
	text-decoration: none;
	border-radius: 5px;
	transition: background-color 0.3s;
}

.custom_pagination a.active {
	background-color: #de5133;
	color: white;
	border-radius: 5px;
}

.custom_pagination a:hover:not(.active) {
	background-color: #ddd;
}

.display_none {
	display: none;
}

/*============
POST FOOTER LAYOUT
===================*/

.post_footer {
	padding: 20px;
	display: flex;
	justify-content: space-between;
	background: #333333;
	align-items: center;
	width: 100%;
}

.post_footer a {
	display: inline-block;
	padding: 20px;
	text-decoration: none;
	color: #e6e6e6;
	transition: 0.5s;
}

.post_footer a:hover {
	color: white;
}

.post_footer p {
	display: inline;
	color: #e6e6e6;
}

img.logo_post_footer {
	width: auto;
	height: 50px;
}

span.copyright {
	position: relative;
	top: 3px;
	right: 0;
	left: 0;
	bottom: 0px;
}

#myBtn {
	display: none; /* Hidden by default */
	position: fixed; /* Fixed/sticky position */
	bottom: 20px; /* Place the button at the bottom of the page */
	right: 30px; /* Place the button 30px from the right */
	z-index: 99; /* Make sure it does not overlap */
	border: none; /* Remove borders */
	outline: none; /* Remove outline */
	background-color: #de5133; /* Set a background color */
	color: white; /* Text color */
	cursor: pointer; /* Add a mouse pointer on hover */
	padding: 15px 20px 15px 20px; /* Some padding */
	border-radius: 30px; /* Rounded corners */
	font-size: 18px; /* Increase font size */
	opacity: 0.5;
}

#myBtn:hover {
	background-color: #555; /* Add a dark-grey background on hover */
}

/* END POST FOOTER LAYOUT */

/*============
FOOTER LAYOUT
===============*/

a.footerSocial_link {
	font-size: 30px;
	padding-right: 0.5em;
	padding-left: 0.5em;
}

/* END FOOTER LAYOUT */

/*
=============== 
Mobile Layout
===============
*/
@media (max-width: 767px) {
	.hide_on_small {
		display: none;
	}

	h1.brand_name {
		font-size: 2.5rem;
	}

	.twitter_widget {
		display: none;
	}

	/* MOBILE HEADER */
	body {
		overflow-x: hidden;
	}
	span.open-slide {
		float: right;
		position: relative;
		top: 7px;
	}
	.side-nav {
		height: 100%;
		width: 0;
		position: fixed;
		z-index: 1;
		top: 0;
		left: 0;
		background-color: #111;
		opacity: 0.9;
		overflow-x: hidden;
		padding-top: 60px;
		transition: 0.5s;
	}
	.side-nav a {
		padding: 10px 10px 10px 30px;
		text-decoration: none;
		font-size: 18px;
		color: #ccc;
		display: block;
		transition: 0.3s;
		text-transform: uppercase;
	}
	.side-nav a:hover {
		color: #fff;
	}

	.side-nav .btn-close {
		position: absolute;
		top: 0;
		right: 22px;
		font-size: 36px;
		margin-left: 50px;
	}
	.dropdown_icon {
		float: right;
		padding-right: 8px;
	}
	.dropdown-container {
		display: none;
		background-color: #262626;
		padding-left: 8px;
	}
	/* 
  Carousel 
  */
	h1.carousel_title {
		font-size: 1rem;
	}
	a.carousel_cat_link {
		font-size: 11px;
	}
	a.carousel_title {
		font-size: 1rem;
	}
	/* 
  End 
  */
	/* 
  index 
  */
	.card {
		width: 100%;
		margin-bottom: 20px;
	}
	/* 
  End 
  */
}
/* END MOBILE LAYOUT */

/* media */
@media (min-width: 768px) {
	.hide_on_large {
		display: none;
	}
	/* Clearfix (clear floats) */
	.blog_main {
		display: flex;
		flex-wrap: wrap;
		height: 300px;
	}
	.card {
		margin: 0 1rem 1rem 1rem; /*space around this element*/
	}
}
