#bulkOptionContainer {
	padding-bottom: 0.75rem;
}

.admin_page_title {
	text-align: center;
}

.page_container {
	max-width: 960px;
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

/* .success-button {
	background-color: #ecffe6;
	border-radius: 2px;
	color: #000;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
} */

/* dashboard */
.dashboard_card {
	display: inline-flex;
}
.dashboard_card_number {
	margin-left: 10px;
}

.admin_table_header {
	text-align: center;
}

.table_card {
	padding: 0;
}

#columnchart_material {
	width: auto;
	height: 600px;
}
